.hero1 {
  display: none;
  // width: 18px; [width]
  // height: 24px; [height]
  border-radius: 5px;
  background: black;
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;

  .hat {
    width: 20px;
    height: 4px;
    background: red;
    position: absolute;
    left: -1px;
    top: 5px;
  }

  .ribbon-up,
  .ribbon-down {
    border-top-color: red;
  }

  .eye {
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: 8px;
  }

  .foot {
    position: absolute;
    width: 3px;
    height: 5px;
    bottom: -5px;  // [feet_bottom]
    border-radius: 3px;
    background: black;
    &.left {
      left: 4px;
    }
    &.right {
      right: 4px;
    }
  }
}
