.hero1 {
  display: none;
  // width: 18px; [width]
  // height: 24px; [height]
  border-radius: 5px;
  background: transparent;
  border: 3px solid black;
  position: absolute;

  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;

  .ba {
    width: 3px;
    height: 9px;
    border-radius: 10px;
    background: black;
    position: absolute;
    top: 2px;
    &.left {
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg);
      left: 2px;
    }
    &.right {
      -webkit-transform: rotate(-40deg);
              transform: rotate(-40deg);
      right: 2px;
    }
  }
  .mouse {
    // width: 6px;
    height: 5px;
    border: 3px solid black;
    position: absolute;
    top: 11px;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  .foot {
    position: absolute;
    width: 3px;
    height: 10px;
    bottom: -13px; // [feet_bottom]
    background: black;
    &.left {
      left: 2px;
    }
    &.right {
      right: 2px;
    }
  }
}

