.hero8 {
  display: none;
  // width: 18px; [width]
  // height: 26px; [height]
  border-radius: 5px;
  background: black;
  position: absolute;

  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;

  .hat {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #68217a;
    position: absolute;
    top: -11px;
    left: -4px;
  }
  .eye {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 3px;
    top: 6px;
  }
  .mouse {
    width: 7px;
    height: 3px;
    background: white;
    border-radius: 4px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    position: absolute;
    right: 0;
    top: 20px;
  }
  .sword {
    width: 12px;
    height: 4px;
    background: #21759b;
    border-radius: 5px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    position: absolute;
    top: 12px;
    left: -10px;
    z-index: -1;
  }
  .foot {
    position: absolute;
    width: 5px;
    height: 9px;
    bottom: -8px; // [feet_bottom]
    border-radius: 3px;
    background: black;
    &.left {
      left: 2px;
    }
    &.right {
      right: 2px;
    }
  }
}
