.hero {
  width: 18px;
  height: 24px;
  border-radius: 5px;
  background: black;
  position: absolute;
  left: 25px;
  bottom: 85px;
  transition: left 0.8s linear, bottom 0.2s ease;;

  &.shake {
    -webkit-animation: shaking 0.3s infinite linear;
            animation: shaking 0.3s infinite linear;
  }
  &.shift {
    transition: left 0.5s ease;
  }
}
.ribbon {
  width: 20px;
  height: 4px;
  background: red;
  position: absolute;
  left: -1px;
  top: 5px;
}

.eye {
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 8px;
}

.foot {
  position: absolute;
  width: 3px;
  height: 5px;
  bottom: -5px;
  border-radius: 5px;
  background: black;
  -webkit-transform-origin: top center;
  transform-origin: top center;

  &.left {
    left: 4px;
    &.walk {
      -webkit-animation: walk 0.4s infinite linear;
              animation: walk 0.4s infinite linear;
    }
  }

  &.right {
    right: 4px;
    &.walk {
      -webkit-animation: walk 0.4s infinite linear 0.2s;
              animation: walk 0.4s infinite linear 0.2s;
    }
  }
}

.ribbon-up {
  position:absolute;
  width:0;
  height:0;
  border-left: 6px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
  left: -10px;
  top: 6px;
  -webkit-transform-origin: 10px 5px;
  transform-origin: 10px 5px;
  -webkit-animation: ribbonup 0.4s infinite ease;
  animation: ribbonup 0.4s infinite ease;
}

.ribbon-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 4px solid transparent;
  border-top: 3px solid red;
  left: -8px;
  top: 7px;
  -webkit-transform-origin: 10px 5px;
  transform-origin: 10px 5px;
  animation: ribbondown 0.4s infinite ease;
  -webkit-animation: ribbondown 0.4s infinite ease;
}
