/*
 * Loader
 =================================*/

#loader {
    font-size: 10px;
    margin: 15em auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em #ddd;

    &,
    &:before,
    &:after {
        border-radius: 50%;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
    }

    &:before {
        width: 5.2em;
        height: 10.2em;
        background: #fff;
        border-radius: 10.2em 0 0 10.2em;
        top: -0.1em;
        left: -0.1em;
        -webkit-transform-origin: 5.2em 5.1em;
        transform-origin: 5.2em 5.1em;
        -webkit-animation: loader 2s infinite ease 1.5s;
        animation: loader 2s infinite ease 1.5s;
    }

    &:after {
        width: 5.2em;
        height: 10.2em;
        background: #fff;
        border-radius: 0 10.2em 10.2em 0;
        top: -0.1em;
        left: 5.1em;
        -webkit-transform-origin: 0px 5.1em;
        transform-origin: 0px 5.1em;
        -webkit-animation: loader 2s infinite ease;
        animation: loader 2s infinite ease;
    }

    p {
        text-align: center;
        position: relative;
        bottom: 3em;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
