$main-color: black;

@import 'fonts';
@import 'loader';
@import 'keyframes';
@import 'hero1';
@import 'hero2';
@import 'hero3';
@import 'hero4';

#game {
  font-family: 'Poiret One', Helvetica, Georgia;
  position: relative;
  overflow: hidden;
  background-image: url('../../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.bg1 {
    background-image: url('../../images/bg.jpg');
  }
  &.bg2 {
    background-image: url('../../images/bg2.jpg');
  }
  &.bg3 {
    background-image: url('../../images/bg3.jpg');
  }
  &.bg4 {
    background-image: url('../../images/bg4.jpg');
  }
  &.bg5 {
    background-image: url('../../images/bg5.jpg');
  }

  &.bounce {
    -webkit-animation: bounce 0.5s linear;
            animation: bounce 0.5s linear;
  }
}

.stick {
  width: 3px;
  background: $main-color;
  position: absolute;
  // bottom: 80px;
  // left: 47px;
        -webkit-transition: -webkit-transform 0.5s ease;
                transition: transform 0.5s ease;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;

  &.rotate {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  &.died {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.box {
  background: $main-color;
  position: absolute;
  bottom: 0;
  // height: 80px;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;

  &.shake {
    -webkit-animation: shaking 0.3s infinite linear;
            animation: shaking 0.3s infinite linear;
  }

  .foot {
    &.left.walk {
      -webkit-animation: walk 0.4s infinite linear;
              animation: walk 0.4s infinite linear;
    }
    &.right.walk {
      -webkit-animation: walk 0.4s infinite linear 0.2s;
              animation: walk 0.4s infinite linear 0.2s;
    }
  }

  .ribbon-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 3px solid transparent;
    border-top-width: 5px;
    border-top-style: solid;
    left: -10px;
    top: 6px;
    -webkit-transform-origin: 10px 5px;
            transform-origin: 10px 5px;
           -webkit-animation: ribbonup 0.4s infinite ease;
                   animation: ribbonup 0.4s infinite ease;
  }

  .ribbon-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 4px solid transparent;
    border-top-width: 3px;
    border-top-style: solid;
    left: -8px;
    top: 7px;
    -webkit-transform-origin: 10px 5px;
            transform-origin: 10px 5px;
           -webkit-animation: ribbondown 0.4s infinite ease;
                   animation: ribbondown 0.4s infinite ease;
  }
}

.welcome {
  display: none;

  .game-name {
    position: absolute;
    top: 10%;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 64px;
    line-height: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    &.hinge {
      -webkit-animation: hinge 2s ease-in-out;
              animation: hinge 2s ease-in-out;
    }
  }
  .btn-play {
    position: absolute;
    color: white;
    cursor: pointer;
    background: lightcoral;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    top: 40%;
    -webkit-animation: fly 2.5s infinite linear;
            animation: fly 2.5s infinite linear;
    div {
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
    }
  }
  .btn-hero {
    position: absolute;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px 10px 14px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 12px;
    top: 80%;
    right: 20px;
  }
}

.live-score {
  display: none;
  font-family: Helvetica, Georgia;
  position: absolute;
  padding: 10px 20px 7px;
  top: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  font-size: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.watermelon {
  display: none;
  position: absolute;
  right: 5px;

  img {
    width: 20px;
    position: relative;
    top: 3px;
    margin-right: 2px
  }
}

.instruction {
  position: absolute;
  opacity: 0;
  top: 20%;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  transition: opacity 3s ease;

  &.in {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.game-over {
  display: none;

  .title {
    top: 10%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  .board {
    width: 200px;
    background: white;
    top: 20%;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;

    p {
      margin: 5px 0;
    }
  }
  .actions {
    position: absolute;
    top: 45%;
    color: white;
    left: 0;
    right: 0;
    text-align: center;

    .btn {
      cursor: pointer;
      background: lightcoral;
      padding: 10px;
      border-radius: 10px;
      margin: 5px auto;
      width: 100px;
    }
  }
}

.heropick {
  display: none;
  background: white;
  width: 210px;
  height: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 1001;

  .title {
    padding: 12px;
  }
  .total {
    float: right;
    margin-right: 5px;
  }
  img {
    width: 18px;
    float: right;
    margin-right: 5px;
  }
  .heros {
    padding: 10px 20px;
  }

  .wrapper {
    cursor: pointer;
    padding: 22px 10px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 10px;

    &.locked {
      background-color: #ffff66;
      & > div {
        visibility: hidden;
        left: auto;
        top: auto;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .price {
        position: absolute;
        visibility: visible;
        display: block;
      }
      img {
        margin-left: 8px;
      }
    }

    .price {
      display: none;
    }

    & > div {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
    }
  }
}

.share {
  display: none;
  background: rgba(0,0,0,0.7);
  color: white;

  .arrow {
    width: 60px;
    position: absolute;
    right: 0;
    -webkit-animation: arrow 1s infinite linear;
            animation: arrow 1s infinite linear;
  }
  .text {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
  }
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 10px;
}

.copyright__heart {
  color: red;
}
